.btn {
  justify-content: flex;
  align-items: center;
  justify-content: center;
  background-color:none;
  cursor: pointer;
  padding: 0.5em;
  border: none;
  outline: none;
}

.fav-button {
 background-color:transparent;
 margin: 0px 2px 0px 2px;
  border: none;
  outline: none;
}
.sendButton{
  background-color:transparent;
  margin: 0px 2px 0px 2px;
  border: none;
  outline: none;
}

.sendButton:hover{
  transform: scale(1.05);
  transition: 10ms ease-in-out;
}
.sendButton:active{
  animation: send 3s  ease-in-out;
}
@keyframes send{
  0%{
    scale: 0;
  }
  50%{
    scale:2px;
  }
  100%{
    scale:0;
  }
}
.btn img { 
    justify-items: center;
   align-self: center;
  width: 30px;
  height: 30px;
          }

          

