.profile_container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    color: black;
}
.profile-items{
    border:2px solid white;
    color: black;
}
